
<div>
  <div>
    how to contribute:  code is on github at: <a href="https://github.com/foxjazz/SimpleED">SimpleED</a>
  </div>
  <div>

    <div>
      <button (click)="load3Diamond()">Load 3 diamond site</button>
      <button (click)="loadAll()">Load all populated</button>
    </div>
    <input type="text" [(ngModel)]="search" (keyup)="doSearch()" id="search" placeholder="System name goes here">

    <button (click)="getData()">getData</button>
    <div>
      <button (click)="sortMe()">sort</button>
    </div>
    <ul>
      <li *ngFor="let n of systemsFilter">
        {{n.name}}
      </li>
    </ul>
  </div>
  <div>
    <table>
      <tr>
        <th>
          station
        </th>
        <ng-container  *ngFor="let p of products">
          <th>{{p}}</th>
          <th>buy price</th>
          <th>Demand</th>
        </ng-container>
      </tr>
      <tr *ngFor="let m of marketList">
        <td>{{m.StationName}}</td>
        <ng-container *ngFor="let p of m.Products">
          <td>{{p.product}} </td>
          <td>{{p.demand}} </td>
          <td>{{p.buyPrice}} </td>
        </ng-container>
      </tr>

    </table>
  </div>
</div>
